# Conditional Statements
To execute code based on a condition.
- if : this block executes only when it's condition is true
- elif : this block executes only when it's condition is true
- else : this block executes when all the previous conditions fail

#### SYNTAX
~~~
if <CONDITION>:
    IF_STATEMENT_1
    IF_STATEMENT_2
    IF_STATEMENT_3
elif <CONDITION>:
    STATEMENT_1
    STATEMENT_2
    STATEMENT_3
elif <CONDITION>:
    STATEMENT_1
    STATEMENT_2
    STATEMENT_3
else:
    STATEMENT_1
    STATEMENT_2
    STATEMENT_3
# END OF IF-ELSE
~~~

In [4]:
# if age < 18 --> print minor
# else --> print not minor

In [6]:
age = 20

In [8]:
print(age)

20

In [10]:
age < 18

False

In [12]:
if age<18:
    print("minor")
else:
    print("not minor")

not minor

In [22]:
age = 14
# print(age<18)
if age<18:
    print("minor")
else:
    print("not minor")

minor

In [24]:
name = input("Enter name:")

Enter name: Nandini

In [26]:
name

'Nandini'

In [34]:
age = input("Enter age:") # Input function takes input at runtime but in 'str' format
print(age)
print(type(age))

Enter age: 16

16
<class 'str'>

In [36]:
age

'16'

In [38]:
int(age)

16

In [40]:
type(int(age))

int

In [50]:
age = int(input("Enter age:")) # Assuming that user will pass only numbers. Otherwise we will get ValueError
print(type(age))

Enter age: 30

<class 'int'>

In [56]:
name = 'Madhuri'
print(name,type(name))

Madhuri <class 'str'>

In [58]:
age = input("Enter age:")
print(age,type(age))
age = int(age) # reassigning value after type conversion 
print(age,type(age))

Enter age: 45

45 <class 'str'>
45 <class 'int'>

In [64]:
# if age<18, print minor
# else print not minor

age = int(input("Enter age:"))
# print(age<18)
if age<18:
    print("Minor")
else:
    print("Not minor")
# End of if-else

Enter age: 56

Not minor

# Example 2

In [67]:
# if total_bill of customer is greater than 10,000, he will receive 10% discount
# if total_bill is greater than 5000, will receive 5% discount
# if total_bill is greater than 2000, will receive 2% discount
# if total_bill is greater than 1000, will receive 1% discount
# else no discount

In [85]:
# 10/100  # 10% discount  # 0.1
# 5/100  # 5% discount
# 2/100 # 2% discount
# 1/100 # 1% discount
# 0  # no discount
# Expected discounts - 0.1, 0.05, 0.02, 0.01, 0

In [91]:
100 * (1-0.1) # 10% discount

90.0

In [89]:
100 * (1-0.05) # 5% discount

95.0

In [99]:
print(100*0.05) # discount_amount
print(100 - 5.0) # total_payable

5.0
95.0

In [103]:
# 100*(1+0.1)
100*1.1  # for loan interest

110.00000000000001

In [105]:
100*(1-0.15)

85.0

In [107]:
total_bill = 12000
discount = 0.1
# total_payable = 12000*(1-0.1)
total_payable = total_bill*(1-discount)
print(total_payable)

10800.0

In [115]:
total_bill = 12000
discount = 0.1
discount_amount = total_bill*discount
print(discount_amount)
total_payable = total_bill*(1-discount)
print(total_payable)

1200.0
10800.0

In [113]:
total_bill = 12000
discount = 0.1 
discount_amount = total_bill*discount
print(discount_amount)
total_payable = total_bill - discount_amount 
print(total_payable)

1200.0
10800.0

In [117]:
# if total_bill of customer is greater than 10,000, he will receive 10% discount
# if total_bill is greater than 5000, will receive 5% discount
# if total_bill is greater than 2000, will receive 2% discount
# if total_bill is greater than 1000, will receive 1% discount
# else no discount

In [123]:
# if total_bill of customer is greater than 10,000, he will receive 10% discount
# else no discount
total_bill = 12000
if total_bill > 10000:
    discount = 0.1  # 10/100 - 10% 
else:
    discount = 0 # no discount
print(discount*100)
discount_amount = total_bill*discount
print(discount_amount)
total_payable = total_bill*(1-discount)
print(total_payable)

10.0
1200.0
10800.0

In [119]:
10/100

0.1

In [129]:
# if total_bill of customer is greater than 10,000, he will receive 10% discount
# if total_bill is greater than 5000, will receive 5% discount
# else no discount
total_bill = 12000
if total_bill > 10000:
    discount = 0.1  # 10/100 - 10% 
else:
    discount = 0 # no discount
print('Discount Percentage:',discount*100)
discount_amount = total_bill*discount
print('Discount Amount:',discount_amount)
total_payable = total_bill*(1-discount)
print('Total Payable:',total_payable)

Discount Percentage: 10.0
Discount Amount: 1200.0
Total Payable: 10800.0

In [133]:
# if total_bill of customer is greater than 10,000, he will receive 10% discount
# else no discount
total_bill = 12000
if total_bill > 10000:
    discount = 0.1  # 10/100 - 10% 
elif total_bill > 5000:
    discount = 0.05 # 5% - 5/100
else:
    discount = 0 # no discount
print('Discount Percentage:',discount*100)
discount_amount = total_bill*discount
print('Discount Amount:',discount_amount)
total_payable = total_bill*(1-discount)
print('Total Payable:',total_payable)

Discount Percentage: 10.0
Discount Amount: 1200.0
Total Payable: 10800.0

In [131]:
5/100

0.05

In [135]:
# if total_bill of customer is greater than 10,000, he will receive 10% discount
# else no discount
total_bill = 8000
if total_bill > 10000:
    discount = 0.1  # 10/100 - 10% 
elif total_bill > 5000:
    discount = 0.05 # 5% - 5/100
else:
    discount = 0 # no discount
print('Discount Percentage:',discount*100)
discount_amount = total_bill*discount
print('Discount Amount:',discount_amount)
total_payable = total_bill*(1-discount)
print('Total Payable:',total_payable)

Discount Percentage: 5.0
Discount Amount: 400.0
Total Payable: 7600.0

In [137]:
# if total_bill of customer is greater than 10,000, he will receive 10% discount
# else no discount
total_bill = 2000
if total_bill > 10000:
    discount = 0.1  # 10/100 - 10% 
elif total_bill > 5000:
    discount = 0.05 # 5% - 5/100
else:
    discount = 0 # no discount
print('Discount Percentage:',discount*100)
discount_amount = total_bill*discount
print('Discount Amount:',discount_amount)
total_payable = total_bill*(1-discount)
print('Total Payable:',total_payable)

Discount Percentage: 0
Discount Amount: 0
Total Payable: 2000

In [149]:
# if total_bill of customer is greater than 10,000, he will receive 10% discount
# if total_bill is greater than 5000, will receive 5% discount
# if total_bill is greater than 2000, will receive 2% discount
# if total_bill is greater than 1000, will receive 1% discount
# else no discount
total_bill = int(input("Enter total bill "))
if total_bill > 10000:
    discount = 0.1  # 10/100 - 10% 
elif total_bill > 5000:
    discount = 0.05 # 5% - 5/100
elif total_bill > 2000:
    discount = 0.02 # 2% - 2/100
elif total_bill > 1000:
    discount = 0.01 # 1% - 1/100
else:
    discount = 0 # no discount
print('Discount Percentage:',discount*100)
discount_amount = total_bill*discount
print('Discount Amount:',discount_amount)
total_payable = total_bill*(1-discount)
print('Total Payable:',total_payable)

Enter total bill  1843

Discount Percentage: 1.0
Discount Amount: 18.43
Total Payable: 1824.57

In [141]:
'3567'>10000

TypeError: '>' not supported between instances of 'str' and 'int'

In [147]:
int('3567')>10000

False

# Assignment
- Given input number, if it is greater than 50, apply cube and print result
- if number is greater than 25, apply square and print result
- if number is greater than 15, print number without any modification
- if number is less than 10, apply square root and print result
- if number is less than 5, apply cube root and print result

In [157]:
# ### Example
# - 80 (>50)--> 80*80*80
# - 30 (>25) --> 30*30
# - 18 (>15) --> 18
# - 7 (<10) --> 7 power 1/2
# - 2 (<5) --> 2 power 1/3

In [151]:
4**(1/2)

2.0

# Recap - Conditional Statements - 07/09/2025

In [9]:
# If current_time >6.30 and it is weekday, you need to wake up
# if it is weekend, you can sleep

# Note: Current_time should be date or datetime datatype. For now we are taking it in float.
# current_time is in 24hrs. Ex: 6 -> 6AM, 6.30 -> 6:30, 17 -> 5PM

In [13]:
current_time = 6.40  
current_day = 'WEDNESDAY' 
if current_time>6.30:
    if current_day!='SATURDAY' and current_day!='SUNDAY':
        print('Wake up')
    else:
        print('Sleep')

Wake up

In [15]:
current_time = 6.40  
current_day = 'SUNDAY' 
if current_time>6.30:
    if current_day!='SATURDAY' and current_day!='SUNDAY':
        print('Wake up')
    else:
        print('Sleep')

Sleep

In [17]:
current_time = 6.40  
current_day = 'SUNDAY' 
if current_time>6.30:
    if current_day not in ['SATURDAY','SUNDAY']:   # This is list -> ['SATURDAY','SUNDAY']
        print('Wake up')
    else:
        print('Sleep')

Sleep

In [21]:
current_time = 6.15  
current_day = 'SUNDAY' 
if current_time>6.30:
    if current_day!='SATURDAY' and current_day!='SUNDAY':
        print('Wake up')
    else:
        print('Sleep')
#

In [35]:
# Nested if - if within if 
current_time = 6.15  
current_day = 'SUNDAY' 
if current_time>6.30:
    if current_day!='SATURDAY' and current_day!='SUNDAY':
        print('Wake up')
    else:
        print('Sleep')
else:
    print('Sleep')

Sleep

In [27]:
current_time = 6.15  
current_day = 'SUNDAY' 
if current_time>6.30 and current_day!='SATURDAY' and current_day!='SUNDAY':
    print('Wake up')
else:
    print('Sleep')

Sleep

In [29]:
current_time = 6.45  
current_day = 'FRIDAY' 
if current_time>6.30 and current_day!='SATURDAY' and current_day!='SUNDAY':
    print('Wake up')
else:
    print('Sleep')

Wake up

In [37]:
current_time = 6.45  
current_day = 'SATURDAY' 
print(current_time>6.30,current_day!='SATURDAY',current_day!='SUNDAY')
print(current_time>6.30 and current_day!='SATURDAY' and current_day!='SUNDAY')
if current_time>6.30 and current_day!='SATURDAY' and current_day!='SUNDAY':
    print('Wake up')
else:
    print('Sleep')

True False True
False
Sleep

In [41]:
from datetime import datetime
print(datetime.now())

2025-07-09 07:30:46.941772

In [45]:
print(datetime.now())

2025-07-09 07:31:02.665003

In [51]:
current_datetime = datetime.now()
current_datetime.*?

current_datetime.__add__
current_datetime.__class__
current_datetime.__delattr__
current_datetime.__dir__
current_datetime.__doc__
current_datetime.__eq__
current_datetime.__format__
current_datetime.__ge__
current_datetime.__getattribute__
current_datetime.__getstate__
current_datetime.__gt__
current_datetime.__hash__
current_datetime.__init__
current_datetime.__init_subclass__
current_datetime.__le__
current_datetime.__lt__
current_datetime.__ne__
current_datetime.__new__
current_datetime.__radd__
current_datetime.__reduce__
current_datetime.__reduce_ex__
current_datetime.__repr__
current_datetime.__rsub__
current_datetime.__setattr__
current_datetime.__sizeof__
current_datetime.__str__
current_datetime.__sub__
current_datetime.__subclasshook__
current_datetime.astimezone
current_datetime.combine
current_datetime.ctime
current_datetime.date
current_datetime.day
current_datetime.dst
current_datetime.fold
current_datetime.fromisocalendar
current_datetime.fromisoformat
current_datetime.fromordinal
current_datetime.fromtimestamp
current_datetime.hour
current_datetime.isocalendar
current_datetime.isoformat
current_datetime.isoweekday
current_datetime.max
current_datetime.microsecond
current_datetime.min
current_datetime.minute
current_datetime.month
current_datetime.now
current_datetime.replace
current_datetime.resolution
current_datetime.second
current_datetime.strftime
current_datetime.strptime
current_datetime.time
current_datetime.timestamp
current_datetime.timetuple
current_datetime.timetz
current_datetime.today
current_datetime.toordinal
current_datetime.tzinfo
current_datetime.tzname
current_datetime.utcfromtimestamp
current_datetime.utcnow
current_datetime.utcoffset
current_datetime.utctimetuple
current_datetime.weekday
current_datetime.year

In [57]:
current_datetime.minute

32

In [59]:
current_datetime.second

58

In [73]:
from datetime import datetime
current_datetime = datetime.now()
print(current_datetime)
print(current_datetime.hour,current_datetime.minute)
print(current_datetime.hour,current_datetime.minute/100)
print(current_datetime.hour+current_datetime.minute/100)
current_time = current_datetime.hour+current_datetime.minute/100

2025-07-09 07:39:08.367313
7 39
7 0.39
7.39

## Assignment
#### Example 1
- Write a program for bank transactions: CREDIT, DEBIT, BALANCE_CHECK
- If user credits money, print a successful message.
- If user debits money, print a success or failure message.
    - Succeeds: if minimum amount is maintained after transaction.
    - Fails: if minimum amount is not maintained in the account after the transaction.
- if user is checking balance, print the account balance.
- Accept transaction type input from user.
- Note: Minimum amount that should be maintained in the account is 500 rupees.