# Set
- unordered list i.e., items stored cannot be retrieved in the same order
- It stores only unique items and removes duplicate items

In [1]:
my_set = {10,20,30,40,50}

In [2]:
my_set

{10, 20, 30, 40, 50}

In [3]:
print(my_set)

{50, 20, 40, 10, 30}

In [4]:
my_set = {10,20,30,40,50,40,50,60,70,30,40,80}
print(my_set)

{70, 40, 10, 80, 50, 20, 60, 30}

In [5]:
my_set

{10, 20, 30, 40, 50, 60, 70, 80}

In [6]:
print(my_set)

{70, 40, 10, 80, 50, 20, 60, 30}

In [7]:
my_set[0] # Set is unordered --> indexing or slicing is not used

TypeError: 'set' object is not subscriptable

In [9]:
my_set = {'a',10.0,34.5,True,None,True,False,'b',10} # We can store values of different data types

In [ ]:
my_set  # 10.0 and 10 are considered same and hence one item is removed --> 10 is removed

{10.0, 34.5, False, None, True, 'a', 'b'}

In [12]:
my_set = {'a',10,34.5,True,None,True,False,'b',10.0}
print(my_set)  # 10.0 and 10 are considered same and hence one item is removed --> 10.0 is removed

{False, True, 34.5, 'b', None, 'a', 10}

In [14]:
my_set = {'a',1,34.5,True,None,True,False,'b',1.0}
print(my_set)  # 1, 1.0, True are considered same and hence first occurance 1 is retained while other two are removed

{False, 1, 34.5, 'b', None, 'a'}

In [17]:
my_set = {'a',0,34.5,True,None,True,False,'b',0.0}
print(my_set)  # 0, False, 0.0 are considered same and hence first occurance 0 is retained while other two are removed

{0, True, 34.5, 'b', None, 'a'}

In [18]:
int(False)

0

In [19]:
int(0.0)

0

In [26]:
set_1 = set(range(1,16))
print('set_1:', set_1)
set_2 = set(range(2,21,2))
print('set_2:', set_2)

set_1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
set_2: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [ ]:
# set_1.*?

# set_1.add --
# set_1.clear --
# set_1.copy   # ---> Will be discussed later
# set_1.difference --
# set_1.difference_update --
# set_1.discard --
# set_1.intersection --
# set_1.intersection_update --
# set_1.isdisjoint -- 
# set_1.issubset -- 
# set_1.issuperset --
# set_1.pop -- 
# set_1.remove --
# set_1.symmetric_difference -- 
# set_1.symmetric_difference_update --
# set_1.union --
# set_1.update --

In [29]:
set_1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [30]:
set_1.add(16)

In [31]:
set_1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [32]:
set_1.add(4)

In [33]:
set_1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [34]:
set_1.clear()

In [36]:
set_1  # Empty Set

set()

In [37]:
set_1 = set(range(1,21))
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [38]:
set_1.pop?

Docstring:
Remove and return an arbitrary set element.
Raises KeyError if the set is empty.
Type:      builtin_function_or_method

In [41]:
set_1.pop()

1

In [42]:
set_1

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [50]:
set_1

{8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [64]:
set_1.pop()

20

In [65]:
set_1

set()

In [66]:
set_1.pop()

KeyError: 'pop from an empty set'

In [67]:
set_1 = set(range(1,16))
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [68]:
set_1.remove(11)

In [69]:
set_1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15}

In [70]:
set_1.remove(20)

KeyError: 20

In [71]:
s1 = {1,2,3,4}
s2 = {4,5,6}

In [72]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [74]:
print(s1)
print(s2)

{1, 2, 3, 4}
{4, 5, 6}

In [78]:
s1.update?

Docstring: Update a set with the union of itself and others.
Type:      builtin_function_or_method

In [ ]:
s1.update(s2)  # get union of s1 and s2 and update the result to s1

In [79]:
print(s1)  # s1 is changed
print(s2)

{1, 2, 3, 4, 5, 6}
{4, 5, 6}

In [80]:
s1 = {1,2,3,4}
s2 = {4,5,6}

In [81]:
s1.intersection(s2)

{4}

In [82]:
print(s1)
print(s2)

{1, 2, 3, 4}
{4, 5, 6}

In [83]:
s1.intersection_update(s2)

In [84]:
print('s1:', s1)
print('s2:', s2)

s1: {4}
s2: {4, 5, 6}

In [85]:
s1 = {1,2,3,4}
s2 = {4,5,6}

In [86]:
s1.difference(s2)

{1, 2, 3}

In [87]:
print('s1:', s1)
print('s2:', s2)

s1: {1, 2, 3, 4}
s2: {4, 5, 6}

In [88]:
s2.difference(s1)

{5, 6}

In [89]:
print('s1:', s1)
print('s2:', s2)

s1: {1, 2, 3, 4}
s2: {4, 5, 6}

In [90]:
s1.difference_update(s2)

In [91]:
print('s1:', s1)
print('s2:', s2)

s1: {1, 2, 3}
s2: {4, 5, 6}

In [93]:
s1 = {1,2,3,4}
s2 = {4,5,6}

In [94]:
s1.symmetric_difference(s2)

{1, 2, 3, 5, 6}

In [95]:
print('s1:', s1)
print('s2:', s2)

s1: {1, 2, 3, 4}
s2: {4, 5, 6}

In [96]:
s1.symmetric_difference_update(s2)

In [97]:
print('s1:', s1)
print('s2:', s2)

s1: {1, 2, 3, 5, 6}
s2: {4, 5, 6}

In [98]:
s1.discard?

Docstring:
Remove an element from a set if it is a member.

Unlike set.remove(), the discard() method does not raise
an exception when an element is missing from the set.
Type:      builtin_function_or_method

In [99]:
s1

{1, 2, 3, 5, 6}

In [100]:
s1.discard(6)

In [101]:
s1

{1, 2, 3, 5}

In [103]:
s1.discard(4) # While remove function throws error when item is not present, this function will not throw error

In [104]:
s1 = {1,2,3,4}
s3 = {2,3}

In [105]:
s1.issuperset(s3)

True

In [106]:
s3.issubset(s1)

True

In [108]:
s2 = {4,5,6}
print('s1:',s1)
print('s2:', s2)

s1: {1, 2, 3, 4}
s2: {4, 5, 6}

In [109]:
s2.issubset(s1)

False

In [110]:
s1.issuperset(s2)

False

In [111]:
s1 = {1,2,3,4}
s4 = {5,6}

In [112]:
s1.isdisjoint(s4)

True

In [113]:
s4.isdisjoint(s1)

True